<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team1.mapper.MemberMapper">
	
	<select id="read" resultType="com.team1.dto.MemberVO">
		select m_num, m_id, m_nick, m_pw, m_name, m_mail, m_tel, g_num, m_lev
		from test_member where m_id = #{m_id}
	</select>

	<resultMap type="com.team1.dto.TestMemberVO" id="memberMap">
		<id property="m_num" column="m_num" />
		<result property="m_num" column="m_num"/>
		<result property="m_id" column="m_id"/>
		<result property="m_nick" column="m_nick"/>
		<result property="m_pw" column="m_pw"/>
		<result property="m_name" column="m_name"/>
		<result property="m_mail" column="m_mail"/>
		<result property="m_tel" column="m_tel"/>
		<result property="g_num" column="g_num"/>
		<collection property="authList" resultMap="authMap"></collection>
	</resultMap>
	
	<resultMap type="com.team1.dto.TestAuthVO" id="authMap">
		<result property="m_num" column="m_num"/>
		<result property="auth" column="auth"/>
	</resultMap>

	<select id="testRead" resultMap="memberMap">
		select mem.m_num, m_id, m_nick, m_pw, m_name, m_mail, m_tel, g_num, auth from test_tbl_member mem
		left outer join test_member_auth auth on mem.m_num = auth.m_num
		where mem.m_id = #{m_id}
	</select>
</mapper>